{% extends "conteneur.html" %}

{% block titre %}
{{name}}
{% endblock %}
{%block afternav%}
{% include "partials/recherche.html" %}
{%endblock%}
{% block corps %}
<p class="display-2 text-center">Bienvenue au sein du projet  <img src="{{ url_for('static', filename='images/logo.svg')}}" width="800" height="200"></p>

<blockquote class="blockquote text-center">
  <p class="mb-2">“La révolution ou la mort”, ce slogan n'est plus l'expression lyrique de la conscience révoltée, <br/>c'est le dernier mot de la pensée scientifique de notre siècle. </p>
  <footer class="blockquote-footer">Guy Debord dans <cite title="Source Title">La planète malade</cite></footer>
</blockquote>

<div>
#en haut faire un petit compte du nombre de données receuills par (table, ex: 808 participationse environnemetales recenses,) faire cou nt requte sql
#faire un genre de block a droite dans la div pour presentant une personne (faire un get id random et ensuite faire une selection de donnée et a gauche le projet
#idee pour limiter taille caractere selon bloc
#https://stackoverflow.com/questions/33718245/limit-characters-displayed-in-span
</div>

{% endblock %}
