{% extends "conteneur.html" %}

{% block titre %}
{%if militant %} militant : {{militant.nom}} {{militant.prenom}} {% endif %}
{%if militants %} {{name}} {% endif %}
{% endblock %}

{% block corps %}
{% if militant %}
<!-- Page de présentation des luttes environnementales-->
<h1> <b>{{militant.nom}} {{militant.prenom}}</b> ({{militant.date_naissance}}{% if militant.date_deces is not none %} - {{militant.date_deces}}{% else %} - ... {% endif %})</h1>
<div class="flex-container">
    <div>
        <h2>Données biographiques</h2>
        <dl>
            <dt>Date de naissance</dt><dd>{{militant.date_naissance}}</dd>
            {% if militant.date_deces is not none %}<dt>Date de décès</dt><dd>{{militant.date_deces}}</dd>{% endif %}
            <dt>Lieu de naisssance</dt><dd>{{militant.ville_naissance}}</dd>
            <dt>Pays de naissance</dt><dd>{{militant.pays.nom}}</dd>
            <dt>Profession</dt><dd>{% if militant.profession is not none %}{{militant.profession}}{% else %}<i>(Cette section est à completer)</i>{%endif%}</dd>
            <dt>Biographie</dt><dd>{{militant.biographie}}</dd>
        </dl>
    </div>
    <hr/>
    <div>
        <h2>Organisations {% if current_user.is_authenticated %}<a role="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#militerModal">+</a>{% endif %}</h2>
        {% if organisation|length > 0 %}
        <ul>
            {% for groupes in organisation %}
            <li><a href="{{url_for('organisation', orga_id=groupes.orga.id)}}">"{{groupes.orga.nom}}"</a> {% if groupes.date_debut is not none %}  [{{groupes.date_debut}} - {% if groupes.date_fin is not none %}
                {{groupes.date_fin}}{% else %}...{% endif %}] {% endif %}{% if groupes.statut is not none %}, {{groupes.statut}} {% endif %} (<a href="{{url_for('modification_militer', militer_id=groupes.militer_id)}}" style="font-size: small;">(Faire une modification ?)</a></li>
            {% endfor %}
        </ul>
        {% else %}
        <p><i>Cette section est à completer ! Pour ajouter une participation, vous devez être connecté et cliquer sur le bouton au-dessus.</i></p>
        {% endif %}
    </div>

    <!--Modal Militer -->
    <div class="modal fade" id="militerModal" tabindex="-1">
        <div class="modal-dialog">
            <div class="modal-content">
                <form class="form" method="POST" action="{{url_for('militer')}}">
                    <div class="modal-header">
                        <h5 class="modal-title">Ajout d'une participation à une organisation</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <div><input type="hidden" name="acteur" value="{{militant.id}}"></div>
                        <div class="form-group row">
                            <label for="orga" class="col-sm-8 col-form-label">Organisation* <a href="{{url_for('inscription_orga')}}" style="font-size: small;">(Ajouter une organisation ?)</a></label>
                            <input class="form-control"  name="orga" list="datalistOrgaOptions" id="orga" placeholder="Rechercher..." required>
                            <datalist id="datalistOrgaOptions">
                                {% for groupe in liste_orga %}
                                <option value="{{groupe.id}}" label="{{groupe.nom}}"></option>
                                {% endfor %}
                            </datalist>
                        </div>
                        <div class="form-group row">
                            <label class="col-sm-2 col-form-label">Date de début</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" name="date_debut" placeholder="Sous le format AAAA"/>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-sm-2 col-form-label">Date de fin</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" name="date_fin" placeholder="Sous le format AAAA"/>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-sm-2 col-form-label">Statut</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" name="statut" placeholder="..."/>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button class="btn btn-secondary" data-bs-dismiss="modal">Fermer</button>
                        <button class="btn btn-primary" type="submit">Ajout</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <!--Fin modal-->
    <hr/>
    <div>
        <h2>Participations aux luttes environnementales {% if current_user.is_authenticated %}<a role="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#participerModal">+</a>{% endif %}</h2>
        {% if participer|length > 0 %}
        <div class="accordion" id="accordion1">
            {% for participation in participer %}
            <div class="accordion-item">
                <h3 class="accordion-header" id="{{participation.objet.id}}">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse{{participation.objet.id}}" aria-expanded="false" aria-controls="collapse{{participation.objet.id}}">
                        <a href="{{url_for('objContest', objContest_id=participation.objet.id)}}">{{participation.objet.nom}}</a>  [{{participation.objet.date_debut}} - {% if participation.objet.date_fin is not none %}{{participation.objet.date_fin}}{%else%}...{%endif%}]
                    </button>
                </h3>
                <div id="collapse{{participation.objet.id}}" class="accordion-collapse collapse" aria-labelledby="{{participation.objet.id}}" data-bs-parent="#accordion1">
                    <div class="accordion-body">
                        <ul>
                            <span><strong>Répertoire d'actions collectives utilisés</strong></span>
                            {% if participation.creation_instance == 1 %}<li>Création d’une instance ou opposition à une instance</li>{%endif%}
                            {% if participation.participation_instance == 1 %}<li>Participation (non décisionnelle) à une instance de consultation</li>{%endif%}
                            {% if participation.appel_instance_decision == 1 %}<li>Appel à une instance décisionnelle ou rejet d’une instance décisionnelle</li>{%endif%}
                            {% if participation.diffusion == 1 %}<li>Diffusion de l’information (en vue de mobilisation pour une action ou susciter l’adhésion)</li>{%endif%}
                            {% if participation.participation_decision == 1 %}<li>Participation à la prise de décision ou opposition à une prise de décision</li>{%endif%}
                            {% if participation.rassemblement == 1 %}<li>Rassemblement public (Manifestation, performance artistique ou sociale, occupation, squat)</li>{%endif%}
                            {% if participation.production== 1 %}<li>Production ou opposition à la production (piquet de grève, création d'entreprises ou d'organismes)</li>{%endif%}
                            {% if participation.illegalisme== 1 %}<li>Illégalisme (sabotage, atteinte aux infrastructures, vol, etc.)</li>{%endif%}
                            {% if participation.autre== 1 %}<li>Autres</li>{%endif%}
                        </ul>
                        (<a href="{{url_for('modification_participer', participer_id=participation.participation_id)}}" style="font-size: small;">(Faire une modification ?)</a>
                    </div>
                </div>
            </div>
            {% endfor %}
            <hr/>
            <div>
                <h2>🌏 Cartographie des participations écologistes 🌏</h2>
                <iframe class="carte_folium" src="{{url_for('carte_native')}}" width=1250, height=750></iframe>
            </div>
            {% else %}
            <p><i>Cette section est à completer ! Pour en ajouter, veuillez cliquez sur le bouton au dessus.</i></p>
            {% endif %}
        </div>

        <!-- Modal ajout militant -->
        <div class="modal fade" id="participerModal" tabindex="-1">
            <div class="modal-dialog">
                <div class="modal-content">
                    <form class="form" method="POST" action="{{url_for('participer')}}">
                        <div class="modal-header">
                            <h5 class="modal-title">Ajout d'une participation écologiste</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <div><input type="hidden" name="acteur" value="{{militant.id}}"></div>
                            <div class="form-group row">
                                <label for="obj_contest" class="col-sm-2 col-form-label">Participation*</label>
                                <input class="form-control"  name="objet_contest" list="datalistOptions" id="obj_contest" placeholder="Rechercher..." required>
                                <datalist id="datalistOptions">
                                    {% for objet in contest %}
                                    <option value="{{objet.id}}" label="{{objet.nom}}">
                                    </option>
                                    {% endfor %}
                                </datalist>
                                <h6>Repertoire d'actions collectives utilisés*</h6>
                                <div class="block-check">
                                    <div>
                                        <div class="form-check form-check-inline">
                                            <input class="form-check-input" type="checkbox" value="creation_instance" name="check"/>
                                            <label class="form-check-label">Création d’une instance ou opposition à une instance</label>
                                        </div>
                                        <div class="form-check form-check-inline">
                                            <input class="form-check-input" type="checkbox" value="participation_instance" name="check"/>
                                            <label class="form-check-label">Participation (non décisionnelle) à une instance de consultation</label>
                                        </div>
                                        <div class="form-check form-check-inline">
                                            <input class="form-check-input" type="checkbox" value="appel_instance_decision" name="check"/>
                                            <label class="form-check-label">Appel à une instance décisionnelle ou rejet d’une instance décisionnelle</label>
                                        </div>
                                        <div class="form-check form-check-inline">
                                            <input class="form-check-input" type="checkbox" value="diffusion" name="check"/>
                                            <label class="form-check-label">Diffusion de l’information (en vue de mobilisation pour une action ou susciter l’adhésion)</label>
                                        </div>
                                        <div class="form-check form-check-inline">
                                            <input class="form-check-input" type="checkbox" value="autre" name="check"/>
                                            <label class="form-check-label">Autres</label>
                                        </div>
                                    </div>
                                    <div>
                                        <div class="form-check form-check-inline">
                                            <input class="form-check-input" type="checkbox" value="participation_decision" name="check"/>
                                            <label class="form-check-label">Participation à la prise de décision ou opposition à une prise de décision</label>
                                        </div>
                                        <div class="form-check form-check-inline">
                                            <input class="form-check-input" type="checkbox" value="rassemblement" name="check"/>
                                            <label class="form-check-label">Rassemblement public (Manifestation, performance artistique ou sociale, occupation, squat)</label>
                                        </div>
                                        <div class="form-check form-check-inline">
                                            <input class="form-check-input" type="checkbox" value="production" name="check"/>
                                            <label class="form-check-label">Production ou opposition à la production (piquet de grève, création d'entreprises ou d'organismes)</label>
                                        </div>
                                        <div class="form-check form-check-inline">
                                            <input class="form-check-input" type="checkbox" value="illegalisme" name="check"/>
                                            <label class="form-check-label">Illégalisme (sabotage, atteinte aux infrastructures, vol, etc.)</label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button class="btn btn-secondary" data-bs-dismiss="modal">Fermer</button>
                            <button class="btn btn-primary" type="submit">Ajout</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <!--Fin modal-->

        <hr/>
        {% if createur %}
        <p>Cette page a été écrite par {{createur.user.user_nom}} le {{createur.authorship_date}}.</p>
        {% endif %}
        <dl>
            <dd> <span>Cette page a été modifiée par :</span>
                <ul>
                    {% for modification in militant.authorships %}
                    {% if modification.createur != "True" %}
                    <li>[{{modification.authorship_date}}] {{modification.user.user_nom}}</li>
                    {% endif %}
                    {% endfor %}
                </ul>
            </dd>
        </dl>



        <!-- Index des projets contestés et luttes environnementales-->
        {% elif militants %}
        <h1>Index des activistes écologistes</h1>
        <p>Il y a {{ militants.total }} enregistrés :</p>
        <ul>
            {% for militant in militants.items %}
            <li><a href="{{url_for('militant', name_id=militant.id)}}">{{militant.nom}}, {{militant.prenom}}</a></li>
            {% endfor %}
        </ul>
        <nav aria-label="research-pagination">
            <ul class="pagination">
                {%- for page in militants.iter_pages(left_edge=2, left_current=2, right_current=3, right_edge=2) %}
                {% if page %}

                {% if page != militants.page %}
                <li class="page-item">
                    <a class="page-link" href="{{ url_for('militant', page=page) }}">{{page}}</a>
                </li>
                {% else %}
                <li class="page-item active disabled">
                    <a class="page-link">{{page}} <span class="sr-only">(actuelle)</span></a>
                </li>
                {% endif %}

                {% else %}
                <li class="page-item disabled">
                    <a class="page-link">...</a>
                </li>
                {% endif %}

                {%- endfor %}
            </ul>
        </nav>

        <!-- Si requête non trouvée -->
        {% else %}
        <p>La base de données est en cours de constitution</p>
        {% endif %}


        <!-- Bouton accueil -->
        <div>
            {% if militant %}
            <a type="button" class="btn btn-lg btn-info" href="{{url_for('modification_militant', name_id=militant.id)}}">Faire une modification</a>
            <a class="btn btn-secondary" role="button" href="{{url_for('index_militant')}}">Retour à l'index</a>
            {% if current_user.user_login == "admin"%}<a class="btn btn-danger" role="button" data-bs-toggle="modal" data-bs-target="#modalSuppr">Supprimer la page</a>{% endif %}
            {% elif militants %}
            <a type="button" class="btn btn-lg btn-success" href="{{url_for('inscription_militant')}}">Ajouter une personne</a>
            <a class="btn btn-secondary" role="button" href="{{url_for('accueil')}}">Retour à l'accueil</a>
            {% endif %}
        </div>
        {% if militant %}
        <!--Modal suppression-->
        <div class="modal fade" id="modalSuppr" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="staticBackdropLabel">Suppression</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        Veuillez confirmer la suppression de la page de {{militant.nom}} {{militant.prenom}}
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Annuler</button>
                        <a type="button" class="btn btn-danger" href="{{url_for('supprimer_militant', name_id=militant.id)}}">J'accepte</a>
                    </div>
                </div>
            </div>
        </div>
        {% endif %}
        {% endblock %}}