{% extends "conteneur.html" %}

{% block titre %}
    {%if militant %}| militant : {{militant.nom}} {{militant.prenom}} {% endif %}
    {%if militants %}| {{name}} {% endif %}
{% endblock %}

{% block corps %}
    {% if militant %}
             <!-- Page de présentation des luttes environnementales-->
            <h1> <b>{{militant.nom}} {{militant.prenom}}</b> ({{militant.date_naissance}}{% if militant.date_deces is not none %} - {{militant.date_deces}}{% else %} - ... {% endif %})</h1>
            <div class="flex-container">
                <div>
                    <h2>Données biographiques</h2>
                    <dl>
                        <dt>Date de naissance</dt><dd>{{militant.date_naissance}}</dd>
                        {% if militant.date_deces is not none %}<dt>Date de décès</dt><dd>{{militant.date_deces}}</dd>{% endif %}
                        <dt>Lieu de naisssance</dt><dd>{{militant.ville_naissance}}</dd>
                        <dt>Pays de naissance</dt><dd>{{militant.pays.nom}}</dd>
                        <dt>Profession</dt><dd>{% if militant.profession is not none %}{{militant.profession}}{% else %}<i>(Cette section est à completer)</i>{%endif%}</dd>
                        <dt>Biographie</dt><dd>{{militant.biographie}}</dd>
                    </dl>
                </div>
                <div>
                    <h2>Organisations</h2>
                    <ul>
                        {% for groupes in organisation %}
                        <li>"{{groupes.orga.nom}}" {% if groupes.date_debut is not none %}  [{{groupes.date_debut}} - {% if groupes.date_fin is not none %}
                            {{groupes.date_fin}}{% else %}...{% endif %}] {% endif %}{% if groupes.statut is not none %}, {{groupes.statut}} {% endif %}</li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
            {% if createur %}
                <p>Cette page a été écrite par {{createur.user.user_nom}} le {{createur.authorship_date}}.</p>
            {% endif %}
            <dl>
                <dd> <span>Cette page a été modifiée par :</span>
                    <ul>
                        {% for modification in militant.authorships %}
                            {% if modification.createur != "True" %}
                            <li>[{{modification.authorship_date}}] {{modification.user.user_nom}}</li>
                            {% endif %}
                        {% endfor %}
                    </ul>
                </dd>
            </dl>
        <!-- Index des projets contestés et luttes environnementales-->
    {% elif militants %}
        <h1>Index des activistes écologistes</h1>
        <p>Il y a {{ militants.total }} enregistrés :</p>
        <ul>
            {% for militant in militants.items %}
                <li><a href="{{url_for('militant', name_id=militant.id)}}">{{militant.nom}}, {{militant.prenom}}</a></li>
            {% endfor %}
        </ul>
        <nav aria-label="research-pagination">
          <ul class="pagination">
            {%- for page in militants.iter_pages(left_edge=2, left_current=2, right_current=3, right_edge=2) %}
                {% if page %}

                  {% if page != militants.page %}
                    <li class="page-item">
                        <a class="page-link" href="{{ url_for('militant', page=page) }}">{{page}}</a>
                    </li>
                  {% else %}
                    <li class="page-item active disabled">
                      <a class="page-link">{{page}} <span class="sr-only">(actuelle)</span></a>
                    </li>
                  {% endif %}

                {% else %}
                    <li class="page-item disabled">
                      <a class="page-link">...</a>
                    </li>
                {% endif %}

            {%- endfor %}
              </ul>
            </nav>

        <!-- Si requête non trouvée -->
        {% else %}
            <p>La base de données est en cours de constitution</p>
        {% endif %}

        <!-- Bouton accueil -->
            <div>
                {% if militant %}
                <a type="button" class="btn btn-lg btn-info" href="{{url_for('modification_militant', name_id=militant.id)}}">Faire une modification</a>
                <a class="btn btn-secondary" role="button" href="{{url_for('index_militant')}}">Retour à l'index</a>
                {% elif militants %}
                <a type="button" class="btn btn-lg btn-success" href="{{url_for('inscription_militant')}}">Ajouter une personne</a>
                <a class="btn btn-secondary" role="button" href="{{url_for('accueil')}}">Retour à l'accueil</a>
                {% endif %}
            </div>
{% endblock %}}