{% extends "conteneur.html" %}

{% block titre %}
    {%if projet_contest %}| Projets contestés : {{projet_contest.nom}} {% endif %}
    {%if projets_contest %}| {{name}} {% endif %}
{% endblock %}

{% block corps %}
    <!-- Page d'un projet contesté -->
    {% if projet_contest %}
            <h1><b>{{projet_contest.nom}}</b> ({{projet_contest.date_debut}}{% if projet_contest.date_fin is not none %} - {{projet_contest.date_fin}}{% else %} - ... {% endif %})</h1>
            <dl>
                <dt>Catégorie de l'objet contesté</dt><dd>{{projet_contest.categorie.nom}}</dd>
                <dt>Durée du conflit</dt><dd>{{date}}</dd>
                <dt>Ville</dt><dd>{{projet_contest.ville}}</dd>
                <dt>Département/Région</dt><dd>{% if projet_contest.dpt is not none %}{{projet_contest.dpt}}{%else%}<i>(Cette section est à compléter)</i>{% endif %}</dd>
                <dt>Pays</dt><dd>{{projet_contest.pays.nom}}</dd>
                <dt>Description</dt><dd>{% if projet_contest.description is not none %}{{projet_contest.description}}{% else %}<i>(Cette section est à compléter)</i>{% endif %}</dd>
                <dt>Ressources bibliographiques</dt><dd>{% if projet_contest.ressources is not none %}{{projet_contest.ressources}}{% else %}<i>(Cette section est à compléter)</i>{% endif %}</dd>
            </dl>
            <hr/>
            {% if createur %}
                <p>Cette page a été écrite par {{createur.user.user_nom}} le {{createur.authorship_date}}.</p>
            {% endif %}
            <dl>
                <dd> <span>Cette page a été modifiée par :</span>
                    <ul>
                        {% for modification in projet_contest.authorships %}
                            {% if modification.createur != "True" %}
                            <li>[{{modification.authorship_date}}] {{modification.user.user_nom}}</li>
                            {% endif %}
                        {% endfor %}
                    </ul>
                </dd>
            </dl>

        <!-- Index des projets contestés -->
        {% elif projets_contest %}
        <h1>Index des luttes environnementales</h1>
        <p>Il y a {{ projets_contest.total }} luttes environnementales qui ont été recensées :</p>
        <ul>
            {% for objet in projets_contest.items %}
                <li><a href="{{url_for('objContest', objContest_id=objet.id)}}">{{objet.nom}}</a></li>
            {% endfor %}
        </ul>

        <nav aria-label="research-pagination">
          <ul class="pagination">
            {%- for page in projets_contest.iter_pages(left_edge=2, left_current=2, right_current=3, right_edge=2) %}
                {% if page %}

                  {% if page != projets_contest.page %}
                    <li class="page-item">
                        <a class="page-link" href="{{ url_for('index_objContest', page=page) }}">{{page}}</a>
                    </li>
                  {% else %}
                    <li class="page-item active disabled">
                      <a class="page-link">{{page}} <span class="sr-only">(actuelle)</span></a>
                    </li>
                  {% endif %}

                {% else %}
                    <li class="page-item disabled">
                      <a class="page-link">...</a>
                    </li>
                {% endif %}

            {%- endfor %}
          </ul>
        </nav>
        <!-- Si requête non trouvée -->
        {% else %}
            <p>La base de données est en cours de constitution</p>
        {% endif %}

        {% if projet_contest %}
            <a type="button" class="btn btn-lg btn-info" href="{{url_for('modification_lutte', objContest_id=projet_contest.id)}}">Faire une modification</a>
            <a class="btn btn-secondary" role="button" href="{{url_for('index_objContest')}}">Retour à l'index</a>
        {% elif projets_contest %}
            <a type="button" class="btn btn-lg btn-success" href="{{url_for('inscription_lutte')}}">Ajouter une page</a>
            <a class="btn btn-secondary" role="button" href="{{url_for('accueil')}}">Retour à l'accueil</a>
        {% endif %}
{% endblock %}