{% extends "conteneur.html" %}

{% block titre %} {{titre}} {%endblock%}

{% block afternav %}
{% include "partials/recherche.html" %}
{%endblock%}

{% block corps %}

<p1 class="h1">{{titre}}</p1>
{% if resultats %}
<p>Il y a {{resultats.total}} {% if resultats.total > 1 %} résultats qui correspondent {% else %} résultat qui correspond {% endif %} à votre requête :</p>
<ul>
    {% for militant in resultats.items %}
    <li><a href="{{url_for('militant', name_id=militant.id)}}">{{militant.nom}}, {{militant.prenom}}</a></li>
    {% endfor %}
</ul>
<nav aria-label="research-pagination">
    <ul class="pagination">
        {%- for page in resultats.iter_pages(left_edge=2, left_current=2, right_current=3, right_edge=2) %}
        {% if page %}

        {% if page != resultats.page %}
        <li class="page-item">
            <a class="page-link" href="{{ url_for('recherche', keyword=keyword, page=page) }}">{{page}}</a>
        </li>
        {% else %}
        <li class="page-item active disabled">
            <a class="page-link">{{page}} <span class="sr-only">(actuelle)</span></a>
        </li>
        {% endif %}

        {% else %}
        <li class="page-item disabled">
            <a class="page-link">...</a>
        </li>
        {% endif %}

        {%- endfor %}
    </ul>
</nav>
{% else %}
<hr/>
<p class="h2">Nous sommes désolés ...</p>
<p>Nous n'avons pas pu trouver votre requête. Vous pouvez réessayer avec d'autres termes ou en utilisant <a href="{{url_for('index_militant')}}">l'index des militants recencés</a>
    ou des <a href="{{url_for('index_objContest')}}">différents projets contestés</a></p>
{% endif %}
{%endblock%}