# ignore ALL .log files
*.log
#ignore venv
.venv/
# ignore idea
.idea/

#variable environnement sensible
.env

#md
idee.md

#ignore pycharm
#GreenPy/__pycache__/
#GreenPy/__pycache__/*
#__pycache__/
#GreenPy/modeles/__pycache__/*

*documentation/*
