Package            Version
------------------ ------------
blinker            1.3
boltons            21.0.0
branca             0.4.2
certifi            2021.10.8
charset-normalizer 2.0.12
click              8.0.3
dnspython          2.2.0
docopt             0.6.2
email-validator    1.1.3
environs           9.5.0
feedparser         6.0.8
Flask              2.0.3
Flask-Login        0.5.0
Flask-Mail         0.9.1
Flask-SQLAlchemy   2.3.2
flask-whooshee     0.8.2
Flask-WTF          1.0.0
folium             0.12.1.post1
geographiclib      1.52
geopy              2.2.0
idna               3.3
itsdangerous       2.0.1
Jinja2             3.0.3
MarkupSafe         2.0.1
marshmallow        3.14.1
msgpack            1.0.3
numpy              1.22.3
packaging          21.3
pendulum           2.1.2
pip                22.0.4
PyJWT              2.3.0
pyparsing          3.0.7
python-dateutil    2.8.2
python-dotenv      0.19.2
pytzdata           2020.1
requests           2.27.1
setuptools         57.0.0
sgmllib3k          1.0.0
six                1.16.0
SQLAlchemy         1.3.13
SQLAlchemy-Utils   0.38.2
TgCrypto           1.2.3
urllib3            1.26.8
Werkzeug           2.0.2
wheel              0.36.2
Whoosh             2.6.0
WTForms            3.0.1
