{% extends "conteneur.html" %}

{% block titre %}
    {{name}}
{% endblock %}

{% block corps %}
	<p>{% if militants %}
        Il y a {{ militants|length }} enregistrés :
        <ul>
            {% for militant_id, militant in militants.items() %}
                <li><a href="{{url_for('militant', name_id=militant_id)}}">{{militant.nom}}, {{militant.prenom}}</a></li>
            {% endfor %}
        </ul>
        {% endif %}
    </p>
    <p>{% if  projets_contest %}
         Il y a {{ projets_contest|length }} enregistrés :
        <ul>
            {% for objet_id, objet in projets_contest.items() %}
                <li><a href="{{url_for('objContest', objContest_id=objet_id)}}">{{objet.nom}}</a></li>
            {% endfor %}
        </ul>
        {% endif %}
    </p>
{% endblock %}
