<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>GreenPY {% block titre %}{% endblock %}</title>
    {% include "partials/css.html" %}
    {% include "partials/metadata.html" %}

</head>
<body>
    <nav class="navbar navbar-expand-sm navbar-light bg-light">
        <a href="#" class="navabar-brand mb-0 h1">
            <img class="d-inline-block align-top" src="../static/logo.svg" width="80" height="80"/>
            Accueil
        </a>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item active">
                    <a href="#" class="nav-link">
                        Acteurs
                    </a>
                </li>
                <li class="nav-item active">
                    <a href="#" class="nav-link">
                        Projets contestés
                    </a>
                </li>
            </ul>
        </div>
    </nav>
    <div class="container">
        <div class="row">
            <div class="col">
            {% block corps %}{% endblock %}
            </div>
        </div>
    </div>
</body>
</html>