<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>GreenPY {% block titre %}{% endblock %}</title>
    {% include "partials/css.html" %}
    {% include "partials/metadata.html" %}

</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light" style="background-color: #8bbfca;">
        <a class="navbar-brand" href="{{url_for('accueil')}}"> <img class="d-inline-block" src="../static/logo.svg" width="60" height="60" alt=""/></a>
        <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
          <li class="nav-item active"> <!-- faire boucle for sur arttibut active pour mettre en gras quand o, est sur la page-->
            <a class="nav-link" href="{{url_for('accueil')}}">Accueil</a>
          </li>
          <li class="nav-item dropdown nav-item"> <!-- faire boucle for sur arttibut active pour mettre en gras quand o, est sur la page-->
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Base de données
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item nav-link" href="{{url_for('index_militant')}}">Les militants</a>
              <a class="dropdown-item nav-link" href="#">Les projets contestés</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item nav-link" href="#">Organisations</a>
            </div>
          </li>
            <li class="nav-item"> <!-- faire boucle for sur arttibut active pour mettre en gras quand o, est sur la page-->
            <a class="nav-link" href="#">Carte</a>
          </li>
          <li class="nav-item"> <!-- faire boucle for sur arttibut active pour mettre en gras quand o, est sur la page-->
            <a class="nav-link" href="#">À propos</a>
          </li>
        </ul>
        <form class="form-inline my-2 my-lg-0" action="{{url_for("recherche")}}" method="GET">
          <input class="form-control mr-sm-2" type="search" placeholder="Recherche..." aria-label="Search">
          <button class="btn btn-outline-dark my-2 my-sm-0" type="submit">Rechercher</button>
        </form>
    </nav>
    <div class="container">
        <div class="row">
            <div class="col">
            {% block corps %}{% endblock %}
            </div>
        </div>
    </div>
</body>
</html>