<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>GreenPY {% block titre %}{% endblock %}</title>
    {% include "partials/css.html" %}
    {% include "partials/metadata.html" %}

</head>
<body>
    <div class="container">
        <nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
          <a class="navbar-brand" href="{{url_for('accueil')}}">GreenPy</a>
        </nav>
        <div class="row">
            <div class="col">
            {% block corps %}{% endblock %}
            </div>
        </div>
    </div>
</body>
</html>